<a href="/toolboxes">Back to Toolboxes</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{{toolbox.boxLabel}}</h1>
    <p>{{toolbox.description}}</p>

    <!--EDIT Toolbox-->
    <p><a href="/toolboxes/{{toolbox.toolboxId}}/toolboxes/{{toolbox._id}}/edit">Edit Your Toolbox</a></p>

    <!--DELETE BUTTON  -->
    <p><form method="POST" action="/toolboxes/{{toolbox.toolboxId}}/toolboxes/{{toolbox._id}}?_method=DELETE">
        <button class="btn btn-primary" type="submit">Delete Toolbox</button>
    </form></p>

  </div>
